@font-face {
  font-family: "Lg";
  src: local("LG_Weather_Z"), url("./fonts/LG_Weather_Z.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/wall8.png");
  background-size: cover;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pac-container {
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
}
